form {
    width: 600px;
    margin: 200px auto;
}
div {
    width: 100%;
    margin: 15px auto;
}
label {
    display: block;
    padding: 20px;
    font-size: 25px;
}
input {
    width: 96%;
    padding: 10px;
    border: 1px solid #797979;
    font-size: 20px;
    margin-left: 20px;
    border-radius: 3px;
}
span {
    display: block;
    margin:5px 0  0 20px;
    color: red;
    font-style: italic;
}
button {
    width: 100%;
    margin: 20px;
    padding: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: whitesmoke;
    background: linear-gradient(90deg, royalblue, lightgreen);
}
