@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700&display=swap');

body * {
    font-family: 'Nanum Myeongjo', serif;
}
form {
    width: 600px;
    margin: 200px auto;
}
div {
    width: 100%;
    margin: 15px auto;
}
label {
    display: block;
    padding: 20px;
    font-size: 25px;
}
label.warning {
    color: red !important;
    animation: warning .3s ease;
    animation-iteration-count: 2;
}
@keyframes warning {
    0% { transform: translateX(-8px);}
    25% { transform: translateX(8px);}
    50% { transform: translateX(-8px);}
    75% { transform: translateX(8px);}
}
input {
    width: 96%;
    padding: 10px;
    border: 1px solid #797979;
    font-size: 20px;
    margin: 0 20px;
    border-radius: 3px;
}
span {
    display: block;
    margin:5px 0  0 20px;
    color: red;
    font-style: italic;
}
button {
    width: 100%;
    margin: 20px;
    padding: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: whitesmoke;
    background: linear-gradient(90deg, royalblue, lightgreen);
}

